extends layout.pug
block content
    form(method="POST")
        h2 Create New Creature
        label(for="name") Name:
        input(type="text" name="name")

        label(for="color") Favorite Primary Color:
        select(name="color")
            option(value="red") Red
            option(value="blue") Blue
            option(value="yellow") Yellow

        label(for="mood") Mood:
        select(name="mood")
            option(value=4) Happy :)
            option(value=3) Normal :|
            option(value=2) Meh :/
            option(value=1) Sad :(

        button(type="submit") Create